.todo-container{
    background: black;
    width: 80vw;
    margin: 5em auto;
    border-radius: 8px;
    padding: 15px;
    color: white;
}


.header{
    font-size: 2em;
    text-align: center;
}

.input-container{
    background-color: black;
    padding: 0.5em;
    border-radius: 1em;
    border: 2px solid yellow;
}

.input-box{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    background-color: whitesmoke;
    border: 1px;
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em;
    width: 80%;
}

.add-btn{
    border-radius: 5px;
    font-size: 2em;
    margin: 2px;
    padding: 0px 15px;
    cursor: pointer;
    border: none;
    color: black;
    background-color: greenyellow;
}


.listed-task{
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: yellow;
    border: 1px solid yellow;
    border-radius: 6px;
    padding: .5em;
    margin: 1em;
}

.delete-btn{
    border-radius: 5px;
    margin: 2px;
    font-size: 19px;
    padding: 3px 5px;
    cursor: pointer;
    border: none;
    color: black;
    float: right;
    background-color: red;

}